@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900');
@import "./base.variables";
@import "./base.mixins";

/* layout */
body {
  margin: 0;
  padding: 0;
  font-size: 0.9rem;
  font-family: 'Nunito Sans', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.full-page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-wrapper {
  flex-grow: 1;
}

* {
  scrollbar-color: $green-main-1 $green-pale-1;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: $green-pale-1;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $green-main-1;
    @include border-radius(4px);
  }
}

/** scrollbar for firefox **/
html, div {
  scrollbar-color: $green-main-1 $green-pale-1;
  scrollbar-width: thin;
}

/* text */
h1, h2, h3, h4, h5, h6, p, span, th, td {
  font-family: 'Nunito Sans', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $grey-medium-4;
}

.text-green {
  color: $green-main-1;
}

.page-title {
  font-size: 2rem;
  font-weight: 900;
  color: $grey-dark-1;
}

/* buttons */
a, button {
  font-family: 'Nunito Sans', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  border: none;
  display: inline-block;
  text-align: center;
  vertical-align: middle;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    outline: none;
  }
}

.btn {
  &:focus {
    @include box-shadow-disable();
  }
}

.button-green {
  height: 40px;
  padding: 0 20px;
  background-color: $green-main-1;
  color: white;
  font-weight: 600;
  line-height: 40px;
  @include border-radius(8px);
  text-transform: uppercase;

  &:hover {
    color: white;
  }
}

.button-main {
  @extend .button-green;
}

.button-green-text {
  height: 40px;
  color: $green-main-1;
  background-color: transparent;
  font-weight: 600;

  &:hover {
    color: $green-main-1;
  }
}

.button-green-border {
  height: 40px;
  color: $green-main-1;
  background-color: transparent;
  font-weight: 600;
  border: 2px solid $green-main-1;

  &:hover {
    color: $green-main-1;
  }
}

.button-white-text {
  height: 40px;
  color: white;
  background-color: transparent;
  font-weight: 600;

  &:hover {
    color: white;
  }
}

.button-white-border {
  height: 40px;
  color: white;
  background-color: transparent;
  font-weight: 600;
  border: 2px solid white;

  &:hover {
    color: white;
  }
}

.button-blue {
  height: 40px;
  background-color: $blue-dark-1;
  color: white;
  font-weight: 600;
  @include border-radius(8px);

  &:hover {
    color: white;
  }
}

.button-red {
  height: 40px;
  padding: 0 20px;
  background-color: $red-main;
  color: white;
  font-weight: 600;
  @include border-radius(8px);

  &:hover {
    color: white;
  }
}

.button-white {
  height: 40px;
  background-color: white;
  color: $grey-medium-4;
  font-weight: 600;
  border: 1px solid $grey-medium-9;
  @include border-radius(8px);

  &:hover {
    color: $grey-medium-4;
  }
}

/* form elements */
input, select, textarea {
  width: 100%;

  @include placeholder {
    color: $green-pale-1;
  }

  &:focus {
    outline: none;
  }
}

label {
  width: 100%;
}

input {
  &::-webkit-calendar-picker-indicator {
    display: none;
  }
}

input[type="date"] {
  &::-webkit-input-placeholder {
    visibility: hidden !important;
  }
}

input[type='number'] {
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

textarea {
  resize: none;

  /* set the width to 0.1px so it is not visible but the scrolling function still exists */
  &::-webkit-scrollbar {
    width: 0.1px;
  }
}

/*ux element styles*/
.spinner {
  height: 50px;
  width: 50px;
  @include center-element-fixed();
  z-index: 500;

  .fa-spinner {
    position: relative;
    width: 50px;
    height: 50px;
    color: $green-main-1;
  }
}

/* This is the class name given by the Font Awesome component when icon contains 'spinner' */
.fa-spinner {
  /* Apply 'spinner' keyframes looping once every second (1s)  */
  animation: spinner 1.5s linear infinite;
}

/* Define an animation behavior */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: $screen-sm) {
  body {
    font-size: 1rem;
  }
}

@media screen and (min-width: $screen-md) {
}

@media screen and (min-width: $screen-lg) {
}

@media screen and (min-width: $screen-xl) {
}
